body {
    width: 100%;
    padding: 0px ;
    display: block;
    margin-top: 0;
    margin-right:0 ;
    margin-bottom:0 ;
    margin-left: 0;
}

.night{
    position: relative;
    width: 100%;   
    padding: 0px ;
    margin: 0px;
    right: 0px;
    top: 0px;
    z-index: 1;
} 

.day{
    position: relative;
    width: 100%;   
    padding: 0px ;
    margin: 0px;
    right: 0px;
    top: 0px;
    z-index: 1;
} 

.app{
    position: relative;
    height: 100%;
    padding-left: 11%;
    padding-top: 10px;
    padding-right: 13%;
    padding-bottom: 30px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background: #FFFFFF;
    box-shadow: 0px -16px 40px rgba(0, 0, 0, 0.2);
    margin-top: -7.5%;
    z-index: 2;
    margin-bottom: 10px; 
}

.Date{ 
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    margin-top:5px; 
    margin-left: -23px;
    text-align: left;
    color: #999999;
    float:left
}

#searchBar{
    margin-top:-10px;
    margin-right:-17.6%;
    padding-left:20px;
    width: 140px;
    height: 46px;
    background: rgba(13, 159, 234, 0.08); 
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 19px;
    color: #0DA0EA;
    border: none;
    outline: none;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
}

input[type="text" i] {
    padding-left: 10px; 
}

.input-box-location-icon-blue{
    position: absolute;
    left: 93%;
    right: 7%;
    margin-top: 7px;
    background: #000000;
}

.DateandBar{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.row2{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.DescriptionAndImg{
   text-align: center;
}
.ImageIcon{
    width: 50px;
    height: 50px;
   

}
.Description{
   margin-top: -7px;
   font-family: 'Barlow';
   font-style: normal;
   font-weight: 500;
   font-size: 18px;
   line-height: 22px;
   text-align: center;
   letter-spacing: -0.05em;
   color: #000000;
}

.Temperature{
    position: relative;
    display: flex;
    justify-content: space-between;
    font-size: 40px;
}

.TemperatureValue{
    position: relative;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    line-height: 77px;
    margin-top: 0px;
    letter-spacing: -0.05em;
    color: #000000;
}

.DegreeMark{
    position: relative;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #666666;
    margin-top: 10px;
}

.MaxMin{
    position: relative;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 300;
    color: #666666;
}
.Max{
    position: relative;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #666666;
    
}
.Min{
    position: relative;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #666666;
}

.MaxandUparr{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}


.MinandDownarr{
    position: relative;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    height: 8px; 
}
.Uparr{
    margin-top: -1px;

}

.row3{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.Humidity{
    font-family: 'Barlow';
    margin-top: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.05em;
    color: #444444;
 
}

.HumidityText{
    font-family: 'Barlow';
    margin-top: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 8px;
    line-height: 10px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #999999;
}

.Pressure{
    font-family: 'Barlow';
    margin-top: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.05em;
    color: #444444;
}

.PressureText{
    font-family: 'Barlow';
    margin-top: 5px;
    margin-top: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 8px;
    line-height: 10px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #999999;
}

.Wind{
    font-family: 'Barlow';
    margin-top: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.05em;
    color: #444444;
}

.WindText{
    font-family: 'Barlow';
    margin-top: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 8px;
    line-height: 10px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #999999;
}

.row4{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    text-align: center; 
}

.Sunrise{
    font-family: 'Barlow';
    margin-top: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.05em;
    color: #444444;
}

.SunriseText{
    font-family: 'Barlow';
    margin-top: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 8px;
    line-height: 10px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #999999;
}

.Sunset{
    font-family: 'Barlow';
    margin-top: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* letter-spacing: -0.05em; */
    color: #444444;
}

.SunsetText{
    font-family: 'Barlow';
    margin-top: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 8px;
    line-height: 10px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #999999;
}

.Daytime{
    font-family: 'Barlow';
    margin-top: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.05em;
    color: #444444;
}

.DaytimeText{
    font-family: 'Barlow';
    margin-top: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 8px;
    line-height: 10px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #999999;
}

.row5{
    margin-top: 20px;
    margin-left: -7%;
    margin-right: -40px;

    height: auto;
    display: flex;
    overflow-x:auto;
    border-radius: 16px;
    background: #FFFFFF;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);  
    
}
.row5:-webkit-box{
    border: 0;
}
.row5::-webkit-scrollbar{
    width: 0;
    height: 0;
}

.NextDay1Stuff{
    min-width: 95px;
    height: 100px; 
    line-height: 20px;
    text-align: center;
    margin-right: 17px;
    background: #FFFFFF;
    border: 2px;
    box-shadow: 0px 10px 18px  rgba(0, 0, 0, 0.1); 
    border-radius: 16px;
}

.NextDay1{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 200;
    font-size: 13px;
    line-height: 13px;
    /*letter-spacing: -0.05em;     */          
    color: #444444;
}

.NextDay2Stuff{
   
    min-width: 95px;
    height: 100px; 
    line-height: 20px;
    text-align: center;
    margin-right: 17px;
    background: #FFFFFF;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
}

.NextDay2{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 200;
    font-size: 13px;
    line-height: 13px;
    letter-spacing: -0.05em;              
    color: #444444;
}

.NextDay3Stuff{
    min-width: 95px;
    height: 100px;  
    line-height: 20px;
    text-align: center;
    margin-right: 17px;
    background: #FFFFFF;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
}

.NextDay3{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 200;
    font-size: 13px;
    line-height: 13px;
    letter-spacing: -0.05em;              
    color: #444444;
}

.NextDay4Stuff{
    min-width: 95px;
    height: 100px;  
    line-height: 20px;
    text-align: center;
    margin-right: 10px;
    background: #FFFFFF;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
}

.NextDay4{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 200;
    font-size: 13px;
    line-height: 13px;
    letter-spacing: -0.05em;              
    color: #444444;
}

.NextDay5Stuff{
    min-width: 95px;
    height: 100px;  
    line-height: 20px;
    text-align: center;
    margin-right: 10px;
    background: #FFFFFF;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
}

.NextDay5{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 200;
    font-size: 13px;
    line-height: 13px;
    letter-spacing: -0.05em;              
    color: #444444;
}

.NextDay6Stuff{
    min-width: 95px;
    height: 100px;  
    line-height: 20px;
    text-align: center;
    margin-right: 10px;
    background: #FFFFFF;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
} 

.NextDay6{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 200;
    font-size: 13px;
    line-height: 13px;
    letter-spacing: -0.05em;              
    color: #444444;
}

